<!-- Contact section -->
<div class="banner-area area-padding" style="background-image: url('{{content.field_background_image.0}}');">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="banner-content text-center">
                    <h3>{{content.field_content.0}} </h3>
                    <div class="banner-contact">
                        <a href="tel:{{content.field_contact_no.0}}"><span class="call-us">
                            <i class="fa fa-phone"></i>{{content.field_call_us_title.0}}: {{content.field_contact_no.0}}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>