
<!-- Contact Section -->
<section id="contact-section" class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
              <div class="title-wrap">
                    <h3 class="text-uppercase">
                      {{content.field_title.0}}
                    </h3>
              </div>
              <!-- Contact Form -->
              <div class="contact-form-4 mt-5">
                  {{content.field_contact_form}}
              </div>
            </div>
            <div class="col-lg-4 pl-4 px-sm-15">
              <div class="contact-info pad-30">
                <div class="contact-info-inner bg-theme typo-white b-radius-10">
                  <div class="feature-box-wrap f-list-4 mb-5">
                    <div class="feature-box-details">
                      <div class="media">
                        <div class="feature-list-icon mr-3">
                          <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="media-body">
                          <div class="feature-content">
                            <div class="feature-title">
                              <h5 class="text-uppercase">{{content.field_visit_us_title.0}}</h5>
                            </div>
                            <div class="feature-box-content">
                              {{content.field_address.0}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          <!-- Feature List -->
          <!-- Feature List -->
                  <div class="feature-box-wrap f-list-4 mb-5">
                    <div class="feature-box-details">
                      <div class="media">
                        <div class="feature-list-icon mr-3">
                          <span class="fa fa-id-badge"></span>
                        </div>
                        <div class="media-body">
                          <div class="feature-content">
                            <div class="feature-title">
                              <h5 class="text-uppercase">
                                {{content.field_call_us_title.0}}
                              </h5>
                            </div>
                            <div class="feature-box-content">
                              <p><a href="tel:{{content.field_phone_no_1.0}}">{{content.field_phone_no_1.0}}</a>,</p> 
                              <p><a href="tel:{{content.field_phone_no_2.0}}">{{content.field_phone_no_2.0}}</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          <!-- Feature List -->
          <!-- Feature List -->
                  <div class="feature-box-wrap f-list-4">
                    <div class="feature-box-details">
                      <div class="media">
                        <div class="feature-list-icon mr-3">
                          <span class="fa fa-envelope-o"></span>
                        </div>
                        <div class="media-body">
                          <div class="feature-content">
                            <div class="feature-title">
                              <h5 class="text-uppercase">
                                {{content.field_mail_us_title.0}}
                              </h5>
                            </div>
                            <div class="feature-box-content">
                              <p><a href="tel:{{content.field_primary_email.0}}">{{content.field_primary_email.0}}</a>,</p> 
                              <p><a href="tel:{{content.field_secondary_email.0}}">{{content.field_secondary_email.0}}</a></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

