<div class="carousel-item" style="background-image: url('{{fields.field_background_image.content}}')">
    <div class="carousel-caption wow fadeInDown ">
      <h2>{{fields.title.content}}</h2>
      <p>{{fields.field_content.content}}</p>
      {{fields.field_link.content}}
      {{fields.field_link1.content}}
    </div>
</div>