<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 blog-wrapper mb-40">
  <div class="in">
    <div class="blog-thumb">
      <a href="{{fields.view_node.content}}">
        {{fields.field_image.content}}
      </a>
    </div>
    <div class="meta-info">
      <ul>
        <li class="posts-time">{{fields.created.content}}</li>
      </ul>
    </div>
    <div class="blog-content">
      <h2 class="blog-title">
        <a href="{{fields.view_node.content}}">
          {{fields.title.content}}
        </a>
      </h2>
      <p>{{fields.body.content}}</p>
    </div>
    <div class="link-box">
      <a href="{{fields.view_node.content}}">Read More</a>
    </div>
  </div>
</div>