<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 service-block-item">
  <div class="service-block-inner box-shadow-block">
    <a class="service-icon" href="{{fields.view_node.content}}">{{fields.field_icon.content}}</a>
    <div class="service-block-inner-content">
      <h3 class="service-item-title"><a href="{{fields.view_node.content}}">{{fields.title.content}}</a></h3>
      <div class="service-block-item-excerpt">
        {{fields.body.content}}
      </div>
    </div>
  </div> 
</div> 